<div class="row">
  <div class="col-sm-12">
    <form #f="ngForm" (ngSubmit)="submitHandler(f)">
        <div class="form-group">
        <div class="col-xl-12">
          <app-card cardTitle="UserProfile" [options]="false" blockClass="table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Email</th> 
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>Password</th>

                    <th>Update</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <input type="text" hidden [(ngModel)]="user._id" ngModel name="id">
                    <td><input type="email" class="form-control" name="email" [(ngModel)]="user.email" ngModel name="email"></td>
                    <td><input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" ngModel name="firstName"></td>
                    <td><input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" ngModel name="lastName"></td>
                    <td><input type="text" class="form-control" name="password"  ngModel name="password" placeholder="New Password"></td>

                    <!-- <td><input type="text" class="form-control" name="lastName" [(ngModel)]="user.password" ngModel name="password"></td> -->

                    <td><button type="submit" class="btn btn-primary">Save</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </app-card>
        </div>
      </div>
    </form>
  </div>
</div>
