<div class="row">
  <div class="col-sm-12">

          <form [formGroup]="form">
            <div class="form-group">
      <div class="col-xl-12">
        <app-card cardTitle="UserProfile" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>firstName</th>
              <th>lastName</th>
              <th>Email</th> 
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ id }}</th>
              <td><input type="text" class="form-control" name="name" formControlName="name"  [value]="user.firstName"></td>
              <td><input type="text" class="form-control" name="poste" formControlName="poste"  [value]="user.lastName"></td>
              <td><input type="text" class="form-control" name="email" formControlName="email"  [value]="user.email"></td>
              
              


<!-- <td><button class="btn btn-primary" [disabled]="form.invalid" (click)="updateUser()">Save</button></td> -->
            </tr>

          </tbody>
        </table>


</div>
